<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="School Management Services">
    <meta name="author" content="SoftServe RV10 Group">

    <!-- Include Styles -->
    <link href="https://bootswatch.com/united/bootstrap.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet">

    {% block title %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% block header %}
      <!--Start Header-->
      <div class="row" id="header">
        <div class="col-xs-11 header clearfix">
          <h3 class="text-muted">School Management Services</h3>
        </div>
        <div class="col-xs-1">
          <a href="{{ url_for('logout') }}">Вийти</a>
        </div>
      </div>

      {% if 'index' not in request.path and request.path != '/' %}
      <!--Navigation menu-->
      <ul class="nav nav-tabs">
        <li role="presentation"
            {% if 'user' in request.path %}class="active"{% endif %}>
          <a href="{{ url_for('users_list') }}">Користувачі</a>
        </li>
        <li role="presentation"
            {% if 'school' in request.path %}class="active"{% endif %}>
          <a href="{{ url_for('schools_list') }}">Школи</a>
        </li>
        <li role="presentation"
            {% if 'subject' in request.path %}class="active"{% endif %}>
          <a href="{{ url_for('subjects_list') }}">Предмети</a>
        </li>
      </ul>
      <!--End of navigation menu-->
      {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Copyright 2015 School Management Services |
          All Rights Reserved</p>
      </footer><!-- /.footer -->
      {% endblock %}

    </div><!-- /.container -->

    <!-- JavaScript Inclusion -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>