{% extends "base.html" %}

{% block title %}
  <title>Видалити | SMS</title>
{% endblock  %}

{% block content %}
    <!--Start Main Page Content-->

    <div class="row" id="form">
      <div class="col-lg-12">
        <form action="" method="post" class="form-horizontal">
          <p>Ви дійсно хочете видалити користувача ""?&nbsp;
            <input type="submit" value="Так" name="delete_button"
              class="btn btn-danger">
            <input type="submit" value="Ні" name="cancel_button"
              class="btn btn-default">
          </p>
          <br>
        </form>
      </div>
    </div>

    <!--End Main Page Content-->
{% endblock %}