{% extends "base.html" %}
{% block content %}
  <!--Start Main Page Content-->
  <div class="jumbotron">
    <h2>Сервіс керування персоналом</h2>
    <p class="lead">Даний сервіс надає доступ для внесення користувачів майбутньої аплікації</p>
    <br>
    <nav>
      <ul class="pager">
        <li><a href="{{ url_for('users_list') }}">Перегляд</a></li>
        <li><a href="{{ url_for('user_add') }}">Додати</a></li>
      </ul>
    </nav>
  </div><!-- /.jumbotron -->
  <!--End Main Page Content-->
{% endblock %}