{% extends "base.html" %}

{% block title %}
  <title>Головна сторінка | SMS</title>
{% endblock  %}

{% block content %}
  <!--Start Main Page Content-->
  <div class="jumbotron">
    <h2>Сервіс керування персоналом</h2>
    <p class="lead">Даний сервіс надає доступ для внесення користувачів, шкіл,
      та предметів майбутньої аплікації</p>
    <br>
    <p>
      <a class="btn btn-lg btn-success" href="{{ url_for('users_list') }}"
          role="button">
        До роботи
      </a>
    </p>
  </div><!-- /.jumbotron -->
  <!--End Main Page Content-->
{% endblock %}