{% extends "base.html" %}

{% block title %}
  <title>Авторизація | SMS</title>
  <link href="{{ url_for('static', filename='css/login.css') }}"
    rel="stylesheet">
{% endblock  %}

{% block header %}{% endblock  %}

{% block content %}
  <!--Start Main Page Content-->
  <form class="form-signin" method="POST">
    <!--TO DO: implement CSRF security-->
    {{ csrf_token }}

    <h2 class="form-signin-heading">Увійти в систему</h2>
    <div class="form-group {% if error %}has-error{% endif %}">
      <label for="login" class="sr-only"></label>
      <input type="text" class="form-control" name="username"
        placeholder="Login" required autofocus>
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" class="form-control"
        name="password" placeholder="Password" required>
      <div class="checkbox">
        {% if error %}<span class="help-block">{{ error }}</span>{% endif %}
      </div>
      <!--<label>
        <input type="checkbox" value="remember-me">Запам’ятати мене
      </label>-->
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Вперед
    </button>
  </form>
  <!--End Main Page Content-->
{% endblock %}

{% block footer %}{% endblock  %}