{% extends "base.html" %}

{% block title %}
  <title>Додати школу | SMS</title>
{% endblock  %}

{% block content %}
  <!--Start Main Page Content-->
  <div class="row" id="form">
    <div class="col-xs-12">
      <form action="" class="form-horizontal" method="POST" role="form">
        <!--TO DO: implement CSRF security-->
        {{ csrf_token }}
        <fieldset>
          <legend>Додати школу</legend>

          <div class="form-group {% if errors.name %}has-error{% endif %}">
            <label for="inputName" class="col-xs-2 control-label">
              Назва
            </label>
            <div class="col-xs-3">
              <input type="text" class="form-control" id="inputName"
                placeholder="Назва" name="name"
                value="{% if school %}{{ school.name }}
                       {% else %}{{ request.form['name'] }}{% endif %}">
              <span class="help-block">{{ errors.name }}</span>
            </div>
          </div>

          <div class="form-group {% if errors.address %}has-error{% endif %}">
            <label for="inputAddress" class="col-xs-2 control-label">Адреса</label>
            <div class="col-xs-3">
              <input type="text" class="form-control" id="inputAddress"
                placeholder="Адреса" name="address"
                value="{% if school %}{{ school.address }}
                       {% else %}{{ request.form['address'] }}{% endif %}">
              <span class="help-block">{{ errors.address }}</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <a href="{{ url_for('schools_list') }}">
                <button type="button" class="btn btn-default" name="cancel">
                  Відмінити
                </button>
              </a>
              <button type="submit" class="btn btn-primary" name="go">
                Прийняти
              </button>
            </div><!-- /.col-xs-10 col-xs-offset-2 -->
          </div><!-- /.form-group -->
        </fieldset>
      </form>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
  <!--End Main Page Content-->
{% endblock %}