{% block status_message %}
  <!-- Status message -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="row" id="status_message">
        <div class="col-xs-12" id="content-column">
          <div class="alert alert-info" role="alert">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}